{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Proyecto{% endblock %}
{% block content %}
<div class="container">
  <h4>Eliminar Receta</h4>
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
          <form action="" method="post">{% csrf_token %}
            <p>¿Estás seguro de que quieres borrar <b>"{{ receta.name }}"</b>?</p>
            <input style="background-color: #b99098;" type="submit" class="btn btn-dark" value="Confirmar"/>
            <br><br>
            <p><a class="link-dark" href="{% url 'recetas' %}">Cancelar</a></p>
          </form>      
      </div>
    </div>
  </div>
</main>
</div>
{% endblock %}