{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalle{% endblock %}
{% block content %}
<div class="container">
    <h4>Detalle de la Receta</h4>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><h5>Nombre: {{receta.name}}</h5></li>
        <li class="list-group-item"><p>Descripcion: {{receta.description}}</p></li>
        <li class="list-group-item"><p>Informacion: {{receta.information}}</p></li>
        <center>
          <li class="list-group-item"><img class="img-fluid" src="{{receta.image.url}}" width="600"  alt=""></li>
        </center>
    </ul>
      <br>
      <div class="text-center">
        <p><a style="background-color: #b99098;" type="submit" class="btn btn-dark" href="{% url 'recetas' %}">Volver</a></p>
      </div>
</div>
{% endblock %}