{%extends "core/base.html" %}
{% block title%} Contacto {%endblock %}
{%block content %}

<div class="container">
  <h2>Datos para completar la operación</h2>
  <div class="row">
        <div class="col">
          <div class="text-center">
            <p class="text-center" class="fst-italic"></p>
            <p class="fst-italic">"Para realizar la compra completa los siguientes campos"</p>
              <img src="../media/core/tarjetalogo.png" class="rounded" alt="bienvenido" width=80% height="auto" class="img-fluid" />
          </div>
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Codigo de Descuento">
              <button type="submit" class="btn btn-secondary">USAR</button>
            </div>
          </form>
        </div>

        <div class="col">
          <figure>
            <img src="../media/core/logTarjetas.png"  alt="LOGOSTARJETAS" width=70% height="auto" class="img-fluid" />
          </figure>
          <div class="form-check">
            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
            <label class="form-check-label" for="credit">Tarjeta de Credito</label>
          </div>
          <div class="form-check">
            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
            <label class="form-check-label" for="debit">Tarjeta de Debito</label>
          </div>
          <div class="form-check">
            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
            <label class="form-check-label" for="paypal">Otros</label>
          </div>

          <div >
            <label for="cc-name" class="form-label">Titular de Tarjeta</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
            <small class="text-muted">(Como se muestra en la tarjeta)</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>

          <div class="col-md-6">
            <label for="cc-number" class="form-label">Numero de Tarjeta</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
            <div class="invalid-feedback">
              Numero de Tarjeta
            </div>
          </div>

          <div class="col-md-6">
            <label for="cc-expiration" class="form-label">Fecha de Expiracion</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>

          <div class="col-md-6">
            <label for="cc-cvv" class="form-label">Codigo de Seguridad</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
          </p><a style="background-color: #5a8a71a1;" class="btn btn-outline-light" href="#/">Aceptar</a>   
            <a style="background-color: #b46b7a;" class="btn btn-outline-light" href="/para_comprar">Cancelar</a> 
        </div>
  </div>
</div>

{% endblock %}