{% extends 'core/base.html' %}
{% block title %}Novedades{% endblock %}
{% block content %}
<div class="container">
    <h4>Nuestros Proyectos</h4>
	<p><a style="background-color: #b99098;" type="submit" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Agregar un proyecto nuevo" href="{% url 'create' %}">Agregar</a></p>

	{%include 'include/mensajes_alerta.html'%}

	<div class="album py-5 bg-light">
		<div class="container">
		  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			
			{% for proyecto in proyecto_list %}

			<div class="col-md-4">
				<div class="card shadow-sm"> 
				<img src="{{proyecto.image.url}}" class="card-img-top" alt=" {{proyecto.name}}">
				  <div class="card-body">
					<p class="card-text">{{proyecto.description}}</p>
					<div class="d-flex justify-content-between align-items-center">
					  <div class="btn-group">
						<a href="{% url 'detail' proyecto.id %}">
						<button type="button" class="btn btn-sm btn-outline-secondary">Detalle</button></a>
						<a href="{% url 'update' proyecto.id %}">
						<button type="button" class="btn btn-sm btn-outline-secondary">Editar</button></a>
						<a href="{% url 'delete' proyecto.id %}">
						<button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button></a>
					  </div>
					  <small class="text-muted">9 mins</small>
					</div>
				  </div>
				</div>
			  </div>
			{% endfor %}
		  </div>
		</div>
	  </div>
	  
{%endblock%}